<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Eccentric Authentication - Proof of concept</title>
</head>

<body>
<h1>Simple site for Eccentric CA</h1>
<h2>Favorite number site</h2>


<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/show">Show</a></li>
  <li><a href="/register.html">Register</a></li>
  <li><a href="/share">Share your number</a></li>
  <li><a href="/explanation.html">Explanation</a></li>
</ul>

<h3>Welcome to the Favorite Number Site</h3>

<p>Welcome to the favorite number site. Here you can share your
favorite number with the world. 

<h4>Here are the latest favorites.</h4>

<table>
  <tr><th>Name</th><th>Number</th></tr>
  __ROWS__
</table>
<p>If you wish to add <a href="/share">your number</a> to the list.
<hr>
</body> </html>
